<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Adatbázis</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<main>
    <a th:href="@{/home}" class="button">Home</a>
    <a th:href="@{/database}" class="btn">Adatbázis</a>
    <a th:href="@{/chart}" class="btn">Helyezések diagram</a>
    <a th:href="@{/crud}" class="btn" sec:authorize="hasRole('ADMIN')">CRUD</a>
    <a th:href="@{/messages/contact}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetküldés</a>
    <a th:href="@{/messages}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetek</a>
    <a th:href="@{/admin}" class="btn" sec:authorize="hasRole('ADMIN')">Admin</a>
</main>
<h1>Adatbázis</h1>

<h2>Eredmények</h2>
<table>
    <tr><th>ID</th><th>Pilóta AZ</th><th>Helyezés</th></tr>
    <tr th:each="e : ${eredmenyek}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.pilotaaz}"></td>
        <td th:text="${e.helyezes}"></td>
    </tr>
</table>

<h2>GP-k</h2>
<table>
    <tr><th>Dátum</th><th>Név</th><th>Helyszín</th></tr>
    <tr th:each="g : ${gpList}">
        <td th:text="${g.datum}"></td>
        <td th:text="${g.nev}"></td>
        <td th:text="${g.helyszin}"></td>
    </tr>
</table>

<h2>Pilóták</h2>
<table>
    <tr><th>AZ</th><th>Név</th><th>Nem</th><th>Születés</th><th>Nemzet</th></tr>
    <tr th:each="p : ${pilotaList}">
        <td th:text="${p.az}"></td>
        <td th:text="${p.nev}"></td>
        <td th:text="${p.nem}"></td>
        <td th:text="${p.szuldat}"></td>
        <td th:text="${p.nemzet}"></td>
    </tr>
</table>
</body>
</html>
