<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD – Eredmények</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <a th:href="@{/}" class="button">Home</a>
    <a th:href="@{/database}" class="btn">Adatbázis</a>
    <a th:href="@{/chart}" class="btn">Helyezések diagram</a>
    <a th:href="@{/crud}" class="btn" sec:authorize="hasRole('ADMIN')">CRUD</a>
    <a th:href="@{/messages/contact}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetküldés</a>
    <a th:href="@{/messages}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetek</a>
    <a th:href="@{/admin}" class="btn" sec:authorize="hasRole('ADMIN')">Admin</a>
</main>
<h1>CRUD – Eredmények</h1>
<a th:href="@{/crud/new}">Új eredmény</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Pilóta AZ</th>
        <th>Helyezés</th>
        <th>GP dátum</th>
        <th>Hiba</th>
        <th>Csapat</th>
        <th>Típus</th>
        <th>Motor</th>
        <th>Műveletek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e : ${eredmenyek}">
        <td th:text="${e.id}"></td>
        <td th:text="${e.pilotaaz}"></td>
        <td th:text="${e.helyezes}"></td>
        <td th:text="${e.datum}"></td>
        <td th:text="${e.hiba}"></td>
        <td th:text="${e.csapat}"></td>
        <td th:text="${e.tipus}"></td>
        <td th:text="${e.motor}"></td>
        <td>
            <a th:href="@{/crud/edit/{id}(id=${e.id})}">Szerkesztés</a>
            <a th:href="@{/crud/delete/{id}(id=${e.id})}">Törlés</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
