<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Üzenetek</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<main>
    <a th:href="@{/}" class="button">Home</a>
    <a th:href="@{/database}" class="btn">Adatbázis</a>
    <a th:href="@{/chart}" class="btn">Helyezések diagram</a>
    <a th:href="@{/crud}" class="btn" sec:authorize="hasRole('ADMIN')">CRUD</a>
    <a th:href="@{/messages/contact}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetküldés</a>
    <a th:href="@{/messages}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetek</a>
    <a th:href="@{/admin}" class="btn" sec:authorize="hasRole('ADMIN')">Admin</a>
</main>
<h1>Üzenetek</h1>
<table>
    <thead>
    <tr>
        <th>Név</th>
        <th>Email</th>
        <th>Üzenet</th>
        <th>Időpont</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="msg : ${messages}">
        <td th:text="${msg.name}"></td>
        <td th:text="${msg.email}"></td>
        <td th:text="${msg.content}"></td>
        <td th:text="${#temporals.format(msg.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
