<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Helyezések Diagram</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<main>
    <a th:href="@{/home}" class="button">Home</a>
    <a th:href="@{/database}" class="btn">Adatbázis</a>
    <a th:href="@{/chart}" class="btn">Helyezések diagram</a>
    <a th:href="@{/crud}" class="btn" sec:authorize="hasRole('ADMIN')">CRUD</a>
    <a th:href="@{/messages/contact}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetküldés</a>
    <a th:href="@{/messages}" class="btn" sec:authorize="hasAnyRole('USER','ADMIN')">Üzenetek</a>
    <a th:href="@{/admin}" class="btn" sec:authorize="hasRole('ADMIN')">Admin</a>
</main>
<h1>Helyezések Diagram</h1>
<canvas id="myChart" width="400" height="200"></canvas>

<script th:inline="javascript">
    const ctx = document.getElementById('myChart').getContext('2d');
    const labels = [[$,{eredmenyek:id}]];
    const data = [[$,{eredmenyek:helyezes}]];
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Helyezés',
                data: data,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: { beginAtZero: true }
            }
        }
    });
</script>
</body>
</html>
