<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Item1', 'Item2', 'Item3'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3],
                backgroundColor: 'rgba(54, 162, 235, 0.5)'
            }]
        }
    });
</script>

</body>
</html>