<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:thym="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kapcsolat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/contact}">Kapcsolat</a></li>
        <li><a th:href="@{/chart}">Chart</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>

<h1>Kapcsolatfelvétel</h1>

<div th:if="${param.success}">
    <p>Üzenet sikeresen elküldve!</p>
</div>

<form th:action="@{/contact}" th:object="${message}" method="post">
    <label for="name">Név:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Név" required/>
    <br/>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Email" required/>
    <br/>
    <label for="content">Üzenet:</label>
    <textarea id="content" th:field="*{content}" placeholder="Üzenet" required></textarea>
    <br/>
    <button type="submit">Küldés</button>
</form>

</body>
</html>
